
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>Ecommerce</title>
    </head>
    <body>
       
        <div >
            <h1>Iniciar sesión</h1>
            <form method="POST" action="/login">
                <label for="email">Ingrese email</label>
                <br />
                <input type="email" name="email" />
                <br />
                <label for="password">Ingrese contraseña</label>
                <br />
                <input type="password" name="password" />
                <br />
                <button type="submit">Iniciar sesión</button>
            </form>
            <a href="/register">Registrarse</a>
            {{#if messages.error}}
                <div>{{messages.error}}</div>
            {{/if}}
    </body>
</html>