<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nombre</th>
      <th scope="col">Price</th>
      <th scope="col">Thumbail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
     
    </tr>
    <tr>
      <th scope="row">2</th>
     
    </tr>
    <tr>
      <th scope="row">3</th>
      
    </tr>
  </tbody>
</table>