
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>Ecommerce</title>
    </head>
    <body>

      <h1>REGISTRARSE</h1>

         <form method="POST" action="/register">
             

             <div>
                <label for="email">Email</label>
                <input type="email" name="email">
             </div>

             <div>
                <label for="password">Password</label>
                <input type="password" name="password">
             </div>
             
             
             {{#if messages.error}}
               <div>{{messages.error}}</div>
            {{/if}}


             
             
             
             
             <div><button type="submit">Registrarse</button></div>
             <a href="/login">Iniciar Sesion</a>
        </form>
        
    </body>
</html> 